/*Content Prime*/
.main_container{
	border-radius: 0;
	margin-left: 0;
	padding: 10px;
	/*background: #fff;*/

}

.btn_close{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	background: none;
}
.row_cover{
	background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}
.container_thumbnail{
	position: relative;
}
.img_thumbnail{
	width: 100%;
	height: 100px;
	background: #427AB5;
}
.col_profile{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin-top: -90px;
	padding: 3px;
	background: #fff;
	margin-left: 20px;
}
.col_profile img{
	width : 100%;
	height : 100%;
	border-radius: inherit;
}
.btn_edit_profile{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	border: 2px solid #ccc;
	right: 70px;
	bottom: 0;
	text-align: center;
	background: #fff;
}
.btn_edit_profile i{
	font-size: 20px;
	color: #427AB5;
}
.row_modal_profile{
	margin-top: 15px;
	margin-bottom: 15px;
}
.row_modal_profile .col_header{
	margin-top: 10px;
	margin-bottom: 10px;
	/*border-top: 1px solid #ccc;*/
}
.col_header h4{
	background: #fff;
	/*margin-top: -35px;*/
	width: 40%;
}
.col_card_info .card{
	box-shadow:none;
	width: 100%;
	border:none !important;
}
.col_card_info .card .card-body{
	gap: 20px;
}
.icon_profile{
	width: 40px;
	height: 40px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	flex-shrink: 0;
}







